//propriétés
.stealth{
    visibility: collapse;
}

.col-12{
    background: yellowgreen;
}

.truncate-overflow{
    overflow: auto;
    white-space: wrap;
    text-overflow: ellipsis;
    margin:0;
    padding: 0;
}

.heigth-1{
    height: 40px;
}

.rounded-lg{
    border-radius: $radius;
}

.grey-1{
    background-color: $secundary-color;
}

.grey-2{
    background-color: darken($color: $secundary-color, $amount: 10%);
}

.grey-3
{
    background-color: lighten($color: $secundary-color, $amount: 10%);
}


.details{
    height: 150px;
}

.border-solid, .border-left, .border-right{
    border:2px solid black;       
}

.border-solid{
    border-radius: 10px;
    background: $secundary-color;
}

.border-left{
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    //text-align: center;
}

.border-right{
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
    //text-align: center;
}

.border-optionTop{
    border-left:2px solid black;
    border-right:2px solid black;
    border-top:2px solid black;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    text-align: center;
}

.border-optionBottom{
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black; 
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px ;
    text-align: center;
}

.border-command{
    border: 1px solid black;
}

.input{
    display: none;
    +label{
        color:red;
    }
}

input:invalid{
    border: 3px solid red;
}

img{
    width:80%;
    height: auto;
    margin: 0 10%;
}

.card{
    margin-top: 10px;
    border-style: none;
}

.h3{
    font-size: 1rem;
    font-weight: bolder;
}

#logo{
    border: 2px solid black;
    border-radius: 10px;
    max-width: 400px;
    height: auto;
}

#allProducts img, .cardImage{
    border:1px solid black;
    border-radius: 10px;
}

.cardLink, .cardImage{    
    margin-top: 15px;
}

.w-30{
    width: 30%;
    display: inline-block;
}

.w-95{
    width: 95%;
    margin-left:auto;
    margin-right: auto;
}

.singlePricePanier{
    position: relative;
}



.unitaire{
    position: relative;
}


.unitaire span{
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 2;
}


.total{
    text-align: right;
}

.bg-blue{
    background: blue;
}

