
//variable pour modifier les valeurs dans les propriétés bootstrap
$primary:#e58a0c;
$secondary : #8f5bfe;

//variable pour modifier les valeurs dans les propriétés _my_style
$radius:20px;
$secundary-color:lightgrey;

